.container{
    display:flex ;
    width:full ;
    height:500px ;
    }
.para{
    width:fit-content;
    height: 500px;
    margin-bottom: 100px;
}
.slide1{
    width: 1000px; 
    height: 580px; 
    }
@media(max-width:900px){
    .container{
        width: full;
        display: flex;
        flex-wrap:wrap;
       
    }
    .container div{
        width:250px;
        height: 200px;
        margin: 10px;
        margin-left: 50px;
    }
    .para{
        margin-bottom: 350px;
    }
}
@media(max-width:660px){
    .container{
        width: full;
        display: flex;
        flex-wrap:wrap; 
        margin-top: 30px; 
        align-items: center;
    }
    .container div{
        width:200px;
        height: 150px;
        margin: 15px;
        margin-left: 115px;    
    }
    .para{
        margin-top: 200px;
        margin-bottom: 1200px;
    }
   
}
@media (max-width:400px){
    .container{
        width:full;
        display:block;
        flex-wrap:wrap;
        margin:20px;
        margin-top: 100px;
       
    }
    .container div{
        margin-top:100px;
        width:120px;
        height: 150px;
        margin: 8px;
        margin-left: 15px;  
    }
    .para{
        margin-top: 100px;
        margin-bottom: 1000px;
    }
}