.button{
    color:rgb(182, 34, 98);;
    background-color: rgb(36, 35, 35);
    height: 40px;
    width: 130px;
    border:none;
    box-shadow: #ece4e4;
    box-shadow: -5px -5px 20px rgba(245, 243, 243, 0.1);
  }
 .btn{
margin-left: 2.25rem; 
margin-top: 0.25rem;
width: 100px;
height: 50px;
display:none;
} 
.toggle{
  overflow: visible;
  display: block;
  width: 200px;
  height: 200px;
  background-color: rgb(2, 2, 2);
  color:white;
}
@media(max-width:440px){
  .btn{
    display: block;
}
}
/* .bar{ 
  width: 1.5rem; 
height: 0.25rem; 
color: #ffffff; 
} */
  /* @media(max-width:440px){
.hamburger{
      display: block;
  }
  .hamburger.active.bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active.bar:nth-child(1){
    transform: translate(-8px) rotate(-45deg);
  }
  .hamburger.active.bar:nth-child(3){
    transform: translate(-8px) rotate(-45deg);
  }
  } */

 /* .hamburger{
    margin-left: 20px;
     margin-top: 15px;
     display: none;
     cursor: pointer;
     position: fixed;
 }
 .bar{
     display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: rgb(241, 239, 239);
 } */