.container{
    display:flex ;
    width:full ;
    height:500px ;
    }
.para{
    width:fit-content;
    height: 500px;
    margin-bottom: 100px;
}
.slide1{
    
    width: 1000px; 
    height: 580px; 
   
    }
@media(max-width:900px){
    .container{
        width: full;
        display: flex;
        flex-wrap:wrap;
       
    }
    .container div{
        width:250px;
        height: 200px;
        margin: 10px;
        margin-left: 100px;
    }
    .para{
        margin-bottom: 350px;
    }
}
@media(max-width:710px){
    .container{
        width: full;
        display: flex;
        flex-wrap:wrap;
       
    }
    .container div{
        width:250px;
        height: 200px;
        margin: 5px;
        margin-left: 30px;
    }
   
}
@media (max-width:570px){
    .container{
        width: full;
        display:block;
        flex-wrap:nowrap;
       
    }
    .container div{
        margin-top: 400px;
        width:250px;
        height: 200px;
        margin: 25px;
        margin-left: 95px;  
    }
    .para{
        margin-top: 410px;
        margin-bottom: 1080px;
    }
  
}